.volleyballContainer {
	width: 100vw;
	height: 100vh;
  background: url(../assets/volleyball-min.jpg);
  object-fit: cover;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
}

.volleyballBG {
  width: 100%;
  height: 100%;
  object-fit: cover;
}